# Dependencies
node_modules/

# Build output
*.zip
.aws-sam/
samconfig.toml

# Environment variables
.env
.env.local

# AWS
.aws/

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Test
coverage/

# Test results
functions/nuro-invoice/result/
functions/gmail-attachment/result/